@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --screen-color: #008080;
  --surface-color: #ffffff;
  --surface-color-secondary: #adadad;
  --accent-color: #000080;
  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-disabled: #808080;
  --error-color: #8b0000;
}

@layer base {
  * {
    scroll-behavior: smooth;
  }
  input,
  textarea {
    @apply focus:outline-none;
  }

  .outline-action {
    @apply outline-dashed outline-1 -outline-offset-[0.25rem];
  }

  .card-border {
    border: 2px solid;
    border-color: #848584 #fefefe #fefefe #848584;
    border-bottom-width: 1px;
    box-shadow: inset 2px 2px 0 0 #0a0a0a, inset -2px -2px 0 0 #aaaaaa,
      inset 2px 2px 0 0 #aaaaaa, inset -2px -2px 0 0 #0a0a0a;
  }

  .card-border-secondary {
    border: 2px solid;
    border-color: #848584 #0a0a0a #0a0a0a #848584;
    border-bottom-width: 1px;
    box-shadow: #fefefe 1px 1px 0px 1px inset, #848584 -1px -1px 0px 1px inset;
  }
}
